*{
    margin: 0;
    padding: 0;
}
.contact-layer{
    background-color: #2d2c4ceb;
}
.container{
    background-color: #fcd750;
    position: relative;
    display: block;
    width: 90%;
    max-width: 70rem;
    margin: 0px auto;
    padding: 0 2rem;
}
.contact-container{
    display: flex;
    padding: 64px 32px;
}
.contact{
    width: 50%;
}
.contact h2{
    color: #2c2d4c;
    width: 60%;
    margin-top: 0rem;
    margin-bottom: 10px;
    font-size: 4.236rem;
    line-height: 1.1em;
    font-weight: 400;
}
.digital{
    width: 80%;
    color: #2c2d4c;
    font-size: 1.618rem;
    line-height: 1.1em;
    letter-spacing: -0.02em;
}
.required-field{
    margin-top: 60px;
    display: flex;
    color: #2c2d4c;
    gap: 10px;
    font-size: 20px;
    /* width: 50%; */
}
.contact img{
    width: 28%;
}
.girl img{
    width: 26%;
    margin-left: 0px;
    left: 0px;
    position: absolute;
    /* padding-right: 300px; */
}
.form{
    width: 40%;
    padding-left: 0px;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.formm label{
    color: #2c2d4c;
    font-size: 16px;
}
.formm input{
    width: 100%;
    padding: 20px 0px;
    border: 0px;
}
.message label{
    color: #2c2d4c;
    font-size: 16px;
}
.message input{
    width: 100%;
    padding: 50px 0px;
}
#submit{
    background-color: #2c2d4c;
    color: white;
    padding: 5px;
    height: 60px;
    width: 40%;
    border: 0px;
}
#radio img{
    width: 10px;
    height: 10px;
}
@media screen and (max-width: 350px){
 .contact-layer{
    background-color: #2d2c4ceb;
}
.container{
    background-color: #fcd750;
    position: relative;
    display: block;
    width: 90%;
    max-width: 70rem;
    margin: 0px auto;
    padding: 0 20px;
}
.contact-container{
    display: flex;
    margin: 0px auto;
    padding: 40px;
}
.contact{
    display: none;
    width: 50%;
}
.contact h2{
    color: #2c2d4c;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}
.digital{
    width: 80%;
    color: #2c2d4c;
    font-size: 12px;
}
.required-field{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    color: #2c2d4c;
    font-size: 12px;
    width: 100%;
}
.contact img{
    width: 28%;
}
.girl img{
    width: 30%;
    margin-top: 20px;
    position: absolute;
    left: 0px;
}
.form{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}
.form-container{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    gap: 15px;
}
.formm label{
    color: #2c2d4c;
    font-size: 16px;
}
#name{
    display: none;
}
.formm input{
    width: 100%;
    padding: 20px 0px;
    border: 0px;
}
.message label{
    color: #2c2d4c;
    font-size: 16px;
}
.message input{
    width: 100%;
    padding: 60px 0px;
}
#submit{
    background-color: #2c2d4c;
    color: white;
    padding: 20px;
    width: 80%;
    border: 0px;
    border-radius: 5px;
}
#radio img{
    width: 8px;
    height: 8px;
    /* margin:  auto; */
}   
}
@media screen and (max-width: 1040px){
    contact-layer{
        background-color: #2d2c4ceb;
    }
    .container{
        background-color: #fcd750;
        position: relative;
        display: block;
        width: 90%;
        max-width: 70rem;
        margin: 0px auto;
        padding: 0 2rem;
    }
    .contact-container{
        display: flex;
        padding: 64px 32px;
    }
    .contact{
        width: 50%;
    }
    .contact h2{
        color: #2c2d4c;
        width: 60%;
        margin-top: 0rem;
        margin-bottom: 10px;
        font-size: 4.236rem;
        line-height: 1.1em;
        font-weight: 400;
    }
    .digital{
        width: 80%;
        color: #2c2d4c;
        font-size: 1.618rem;
        line-height: 1.1em;
        letter-spacing: -0.02em;
    }
    .required-field{
        margin-top: 60px;
        display: flex;
        color: #2c2d4c;
        gap: 10px;
        font-size: 20px;
        /* width: 50%; */
    }
    .contact img{
        width: 28%;
    }
    .girl img{
        width: 26%;
        margin-left: 0px;
        left: 0px;
        position: absolute;
        /* padding-right: 300px; */
    }
    .form{
        width: 40%;
        padding-left: 0px;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .formm label{
        color: #2c2d4c;
        font-size: 16px;
    }
    .formm input{
        width: 100%;
        padding: 20px 0px;
        border: 0px;
    }
    .message label{
        color: #2c2d4c;
        font-size: 16px;
    }
    .message input{
        width: 100%;
        padding: 50px 0px;
    }
    #submit{
        background-color: #2c2d4c;
        color: white;
        padding: 10px;
        width: 45%;
        border: 0px;
        cursor: pointer;
    }
    #radio img{
        width: 10px;
        height: 10px;
    }   
}