*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: #FCD750;
    justify-content: space-between;
    align-items: center;
    /* padding: 32px 0px; */
}
.menu-bar{
    display: flex;
    gap: 30px;
    font-size: 16px;

}
.menu-bar a{
    text-decoration: none;
    color: black;
}
.hero{
    padding-top: 80px;
    padding-bottom: 192px;
    display: flex;
    background-color: #FCD750;
    padding-right: 100px;
    padding-left: 100px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.digital{
    display: inline-block;
    margin-bottom: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #2d2c4c;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.main h1{
    color: #2D2C4C;
    width: 50%;
    font-size: 90px;
    font-family: "Hanken book", sans-serif;
    margin: 0px 0px 8px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.text h3{
    color: #20a5e6;
}
.text p{
    width: 80%;
    font-size: 20px;
}
.aim{
    background-color: #bce3f5;
    padding: 160px 0px 128px;
    color:#2d2c4c;
}
.ouraim{
    padding: 0px 32px;
    margin: 0px 114.5px;
}
.ouraim h1{
    color: #2D2C4C;
    font-size: 4.236rem;
    line-height: 1.1em;
}
.ouraim p{
    font-size: 1.618rem;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
}
.icons {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
    margin: 0px 114.5px;
    margin-bottom: 50px;
}
.icons img{
    padding: 0px 16px;
}
.icons h3{
    color:#20a5e6;
    margin: 0px 0px 8px;
}
.icons p{
    color: #2d2c4c;
    margin: 0px 0px 32px;
    width: 70%;
}
.essence{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 50%;
}
.essence img{
    margin: 0px 0px 20px;
    width: 100px;
}
.essence h3{
    color: #20a5e6;
    margin-bottom: 10px;
}
.essence p{
    color: #2d2c4c;
    margin: 0px 0px 32px;
    width: 200px;
    text-align: center;
}
.footer{
    background-color: #2D2C4C;
    padding: 64px 0px;
}
.footercontainer{
    /* padding: 0px 32px; */
    margin: 0px 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.icon img{
    width: 40%;
    vertical-align: middle;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about a{
    text-decoration: none;
    color: #FCD750;
}
.reg{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
}
.reg p{
    width: 200px;
    font-size: 16px;
}
.follow h2{
    color: #20a5e6;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.follow p{
    color: white;
    width: 90%;
}
.socials{
    display: flex;
    width: 80%;
    gap: 10px;
}
.socials img{
    margin-top: 10px;
    width: 40px;
    height: 100%;
}